*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #f5f5f5;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: sticky;
    top: 0%;
    height: 82px;
    box-shadow: 0 4px 15px #cfccc8;
    z-index: 1000;
}

#navleft{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    gap: 6px;
    margin-left: 83px;

}


#navleft i{
    color: rgb(73, 21, 21);
}


#navlogo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#logo{
    height: 72px;
    width: auto;
}
#navright{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(73, 21, 21);
    margin-right: 110px;
}


#navright i{
    font-size: 24px;
    padding: 5px;
}

#navright i{
    cursor: pointer;
}
#navright i:hover{
    color: rgb(154, 74, 74);
}
/* banner section*/

#banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

}

#banner img{
    width: 90vw;
    height: 320px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    border-radius: 15px;
    
}

/*menu section*/

.menu{
    display: flex;
    position: sticky;
    background-color: #f1eeea;
    top: 0%;
    z-index: 15;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.menu-btn{
    padding: 20px 20px;
    background-color: #f5f1f1;
    color: rgb(73, 21, 21);
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.menu-btn:hover {
    background:rgb(73, 21, 21);
    color: #f4f3f3;
}
.menu-btnactive {
    color: #f4f3f3;
    background-color:  rgb(73, 21, 21);
    border-radius: 30px;
    border: none;
    padding: 20px;
}

/*menu card*/

/*sooper pizza*/
.s{
    margin-left: 110px;
    

}

.sop-piz{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.sup-eu{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.sup-eu img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    
}
.sup-eu:hover{
    border-color: rgb(73, 21, 21);
}
.sup-eu button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*extreme pizza*/

.E{
    margin-left: 110px;
    margin-top:  120px;

}

.ext-piz{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.crown{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.crown img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    
}
.crown:hover{
    border-color: rgb(73, 21, 21);
}
.crown button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*deals*/

.D{
    margin-left: 110px;
    margin-top:  70px;

}

.deals{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.deal{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.deal img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.deal:hover{
    border-color: rgb(73, 21, 21);
}
.deal button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*appetizer*/

.A{
    margin-left: 110px;
    margin-top:  70px;

}

.appitizers{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.appi{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.appi img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.appi:hover{
    border-color: rgb(73, 21, 21);
}
.appi button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*desserts*/


.d{
    margin-left: 110px;
    margin-top:  70px;

}

.desserts{
    display: flex;
    margin-left: 110px;
    gap: 20px;
    
}

.des{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.des img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.des:hover{
    border-color: rgb(73, 21, 21);
}
.des button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}


/*smoothies*/


.S{
    margin-left: 110px;
    margin-top:  70px;

}

.smoothies{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.smooth{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.smooth img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.smooth:hover{
    border-color: rgb(73, 21, 21);
}
.smooth button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*shakes*/

.sh{
    margin-left: 110px;
    margin-top:  70px;

}

.Shakes{
    display: flex;
    margin-left: 110px;
    gap: 20px;
    
}

.shake{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.shake img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.shake:hover{
    border-color: rgb(73, 21, 21);
}
.shake button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*hot drinks*/

.T{
    margin-left: 110px;
    margin-top:  70px;

}

.tea{
    
    margin-left: 110px;
    
}

.tea{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.tea img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.tea:hover{
    border-color: rgb(73, 21, 21);
}
.tea button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*burgers*/

.B{
    margin-left: 110px;
    margin-top:  70px;

}

.burgers{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.burger{
    position: relative;
    width: 245px;
    height: 420px;
    border-radius: 15px;
    border: solid rgb(209, 204, 204) 2.5px;
    align-items: center;
    padding: 2px;
    text-align: center;
    font-size: large;
    

}
.burger img{
    width: 225px;
    height: 220px;
    margin-left: 1px;
    border-radius: 10px;
    border: none;
    
}
.burger:hover{
    border-color: rgb(73, 21, 21);
}
.burger button{
    background-color: rgb(130, 55, 55);
    color: #f5f5f5;
    border-radius: 28px;
    border: none;
    font-size: medium;
    padding: 12px;
    
}
.span{
    font-size: smaller;
    color: rgb(156, 150, 150);
    text-align: start;
}

/*back to top button*/

#back{
    position: fixed;    
    bottom: 20px;         
    right: 20px;          
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    display: none;       
    z-index: 999; 

}






/* footer section*/



footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    margin: 40px;
    background: #fff;
}

.footer-left img {
    width: 230px;
    border-radius: 10px;
}

.footer-mid h2 {
    margin-top: 0;
    font-size: 25px;
}

.footer-mid p {
    font-size: 16px;
    margin: 10px 0;
}

.footer-mid i {
    margin-right: 10px;
    color: #000;
}

.store-buttons img {
    width: 160px;
    margin-right: 10px;
    margin-top: 20px;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.footer-right {
    text-align: left;
}

.footer-right h2 {
    margin-top: 0;
}
